---
subject: My Email Subject
subhead: Finding the right talent is rad baby!
---
<container>
  {{> header}}
    <p> This is not a real email template, it just gets loaded by the build tool. Let's make it useful, shall we?</p>
    <ul>
      <li><a href="inviteToJoin.html">Invite notice</a></li>
      <li><a href="onboardingFinished.html">Onboarding finished notice</a></li>
      <li><a href="recruiterNewsletter.html">Recruiter newsletter template</a></li>
      <li><a href="nreNewsletter.html">NRE newsletter template</a></li>
    </ul>
  {{> footer}}
</container>
