---
subject: Name, recruiting needs your help to recruit the best with Simppler Referrals!
subhead: Your recruiting team needs your help to recruit the best
---
<container>
  {{> header}}
  <row>
    <columns small="12" large="12">
      <p>
        Your recruiting team has started using Simppler Referrals to manage candidate referrals and they’re asking for your help. Signing up couldn’t be… well, Simppler.
      </p>
    </columns>
  </row>
  <spacer size="18"></spacer>
  <row>
    <columns small="1" large="1" class=" large-offset-1" valign="middle" >
      <span class="big-number">1.</span>
    </columns>
    <columns small="10" large ="9" valign="middle">
      <a href="#">Create your new Simppler Referrals account</a></li>
    </columns>
    <columns small="1" large="1">&nbsp;</columns>
  </row>
  <spacer size="12"></spacer>
  <row>
    <columns small="1" large="1" class=" large-offset-1" valign="middle">
      <span class="big-number">2.</span>
    </columns>
    <columns small="10" large ="9" valign="middle">
      Upload your contacts from LinkedIn, Google, or iCloud
    </columns>
    <columns small="1" large="1">&nbsp;</columns>
  </row>
  <spacer size="12"></spacer>
  <row>
    <columns small="1" large="1" class=" large-offset-1" valign="middle">
      <span class="big-number">3.</span>
    </columns>
    <columns small="10" large ="9" valign="middle">
        Refer your friends, former co-workers, former class-mates, and any of the other people you know are a great fit for the open roles your company is currently trying to hire!
    </columns>
    <columns small="1" large="1">&nbsp;</columns>
  </row>
  <spacer size="36"></spacer>
  <center>
    <button class="" href="#">Get started with Referrals today!</button>
  </center>
  {{> footer}}
</container>
