<row>
  <columns small="12" large="12">
    <hr>
  </columns>
</row>
<row>
  <columns small="12" large="12">
    <p class="mandatories">You’re receiving this email because your company has signed up for Simppler. If you would like to unsubscribe from future emails, <a href="#">click here.</a> Have questions? Need help? <a href="mailto:hello@simppler.com">We’ve got your back!</a>
    </p>
  </columns>
</row>
<row>
  <columns small="12" large="12">
    <p class="mandatories">
      Simppler, Inc. 38 S B St. San Mateo, CA 94401
    </p>
  </columns>
</row>
