.wrapper {
  width: 100%; }

#outlook a {
  padding: 0; }

body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.ExternalClass {
  width: 100%; }
  .ExternalClass,
  .ExternalClass p,
  .ExternalClass span,
  .ExternalClass font,
  .ExternalClass td,
  .ExternalClass div {
    line-height: 100%; }

#backgroundTable {
  margin: 0;
  Margin: 0;
  padding: 0;
  width: 100% !important;
  line-height: 100% !important; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 580px; }

a img {
  border: none; }

p {
  margin: 0 0 0 18px;
  Margin: 0 0 0 18px; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left; }

@media only screen {
  html {
    min-height: 100%;
    background: #f7fafe; } }

table.body {
  background: #f7fafe;
  height: 100%;
  width: 100%; }

table.container {
  background: white;
  width: 580px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.spacer {
  width: 100%; }
  table.spacer td {
    mso-line-height-rule: exactly; }

table.container table.row {
  display: table; }

td.columns,
td.column,
th.columns,
th.column {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 18px;
  padding-bottom: 0; }
  td.columns .column,
  td.columns .columns,
  td.column .column,
  td.column .columns,
  th.columns .column,
  th.columns .columns,
  th.column .column,
  th.column .columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }
    td.columns .column center,
    td.columns .columns center,
    td.column .column center,
    td.column .columns center,
    th.columns .column center,
    th.columns .columns center,
    th.column .column center,
    th.column .columns center {
      min-width: none !important; }

td.columns.last,
td.column.last,
th.columns.last,
th.column.last {
  padding-right: 18px; }

td.columns table:not(.button),
td.column table:not(.button),
th.columns table:not(.button),
th.column table:not(.button) {
  width: 100%; }

td.large-1,
th.large-1 {
  width: 30.33333px;
  padding-left: 9px;
  padding-right: 9px; }

td.large-1.first,
th.large-1.first {
  padding-left: 18px; }

td.large-1.last,
th.large-1.last {
  padding-right: 18px; }

.collapse > tbody > tr > td.large-1,
.collapse > tbody > tr > th.large-1 {
  padding-right: 0;
  padding-left: 0;
  width: 48.33333px; }

.collapse td.large-1.first,
.collapse th.large-1.first,
.collapse td.large-1.last,
.collapse th.large-1.last {
  width: 57.33333px; }

td.large-1 center,
th.large-1 center {
  min-width: -5.66667px; }

.body .columns td.large-1,
.body .column td.large-1,
.body .columns th.large-1,
.body .column th.large-1 {
  width: 8.33333%; }

td.large-2,
th.large-2 {
  width: 78.66667px;
  padding-left: 9px;
  padding-right: 9px; }

td.large-2.first,
th.large-2.first {
  padding-left: 18px; }

td.large-2.last,
th.large-2.last {
  padding-right: 18px; }

.collapse > tbody > tr > td.large-2,
.collapse > tbody > tr > th.large-2 {
  padding-right: 0;
  padding-left: 0;
  width: 96.66667px; }

.collapse td.large-2.first,
.collapse th.large-2.first,
.collapse td.large-2.last,
.collapse th.large-2.last {
  width: 105.66667px; }

td.large-2 center,
th.large-2 center {
  min-width: 42.66667px; }

.body .columns td.large-2,
.body .column td.large-2,
.body .columns th.large-2,
.body .column th.large-2 {
  width: 16.66667%; }

td.large-3,
th.large-3 {
  width: 127px;
  padding-left: 9px;
  padding-right: 9px; }

td.large-3.first,
th.large-3.first {
  padding-left: 18px; }

td.large-3.last,
th.large-3.last {
  padding-right: 18px; }

.collapse > tbody > tr > td.large-3,
.collapse > tbody > tr > th.large-3 {
  padding-right: 0;
  padding-left: 0;
  width: 145px; }

.collapse td.large-3.first,
.collapse th.large-3.first,
.collapse td.large-3.last,
.collapse th.large-3.last {
  width: 154px; }

td.large-3 center,
th.large-3 center {
  min-width: 91px; }

.body .columns td.large-3,
.body .column td.large-3,
.body .columns th.large-3,
.body .column th.large-3 {
  width: 25%; }

td.large-4,
th.large-4 {
  width: 175.33333px;
  padding-left: 9px;
  padding-right: 9px; }

td.large-4.first,
th.large-4.first {
  padding-left: 18px; }

td.large-4.last,
th.large-4.last {
  padding-right: 18px; }

.collapse > tbody > tr > td.large-4,
.collapse > tbody > tr > th.large-4 {
  padding-right: 0;
  padding-left: 0;
  width: 193.33333px; }

.collapse td.large-4.first,
.collapse th.large-4.first,
.collapse td.large-4.last,
.collapse th.large-4.last {
  width: 202.33333px; }

td.large-4 center,
th.large-4 center {
  min-width: 139.33333px; }

.body .columns td.large-4,
.body .column td.large-4,
.body .columns th.large-4,
.body .column th.large-4 {
  width: 33.33333%; }

td.large-5,
th.large-5 {
  width: 223.66667px;
  padding-left: 9px;
  padding-right: 9px; }

td.large-5.first,
th.large-5.first {
  padding-left: 18px; }

td.large-5.last,
th.large-5.last {
  padding-right: 18px; }

.collapse > tbody > tr > td.large-5,
.collapse > tbody > tr > th.large-5 {
  padding-right: 0;
  padding-left: 0;
  width: 241.66667px; }

.collapse td.large-5.first,
.collapse th.large-5.first,
.collapse td.large-5.last,
.collapse th.large-5.last {
  width: 250.66667px; }

td.large-5 center,
th.large-5 center {
  min-width: 187.66667px; }

.body .columns td.large-5,
.body .column td.large-5,
.body .columns th.large-5,
.body .column th.large-5 {
  width: 41.66667%; }

td.large-6,
th.large-6 {
  width: 272px;
  padding-left: 9px;
  padding-right: 9px; }

td.large-6.first,
th.large-6.first {
  padding-left: 18px; }

td.large-6.last,
th.large-6.last {
  padding-right: 18px; }

.collapse > tbody > tr > td.large-6,
.collapse > tbody > tr > th.large-6 {
  padding-right: 0;
  padding-left: 0;
  width: 290px; }

.collapse td.large-6.first,
.collapse th.large-6.first,
.collapse td.large-6.last,
.collapse th.large-6.last {
  width: 299px; }

td.large-6 center,
th.large-6 center {
  min-width: 236px; }

.body .columns td.large-6,
.body .column td.large-6,
.body .columns th.large-6,
.body .column th.large-6 {
  width: 50%; }

td.large-7,
th.large-7 {
  width: 320.33333px;
  padding-left: 9px;
  padding-right: 9px; }

td.large-7.first,
th.large-7.first {
  padding-left: 18px; }

td.large-7.last,
th.large-7.last {
  padding-right: 18px; }

.collapse > tbody > tr > td.large-7,
.collapse > tbody > tr > th.large-7 {
  padding-right: 0;
  padding-left: 0;
  width: 338.33333px; }

.collapse td.large-7.first,
.collapse th.large-7.first,
.collapse td.large-7.last,
.collapse th.large-7.last {
  width: 347.33333px; }

td.large-7 center,
th.large-7 center {
  min-width: 284.33333px; }

.body .columns td.large-7,
.body .column td.large-7,
.body .columns th.large-7,
.body .column th.large-7 {
  width: 58.33333%; }

td.large-8,
th.large-8 {
  width: 368.66667px;
  padding-left: 9px;
  padding-right: 9px; }

td.large-8.first,
th.large-8.first {
  padding-left: 18px; }

td.large-8.last,
th.large-8.last {
  padding-right: 18px; }

.collapse > tbody > tr > td.large-8,
.collapse > tbody > tr > th.large-8 {
  padding-right: 0;
  padding-left: 0;
  width: 386.66667px; }

.collapse td.large-8.first,
.collapse th.large-8.first,
.collapse td.large-8.last,
.collapse th.large-8.last {
  width: 395.66667px; }

td.large-8 center,
th.large-8 center {
  min-width: 332.66667px; }

.body .columns td.large-8,
.body .column td.large-8,
.body .columns th.large-8,
.body .column th.large-8 {
  width: 66.66667%; }

td.large-9,
th.large-9 {
  width: 417px;
  padding-left: 9px;
  padding-right: 9px; }

td.large-9.first,
th.large-9.first {
  padding-left: 18px; }

td.large-9.last,
th.large-9.last {
  padding-right: 18px; }

.collapse > tbody > tr > td.large-9,
.collapse > tbody > tr > th.large-9 {
  padding-right: 0;
  padding-left: 0;
  width: 435px; }

.collapse td.large-9.first,
.collapse th.large-9.first,
.collapse td.large-9.last,
.collapse th.large-9.last {
  width: 444px; }

td.large-9 center,
th.large-9 center {
  min-width: 381px; }

.body .columns td.large-9,
.body .column td.large-9,
.body .columns th.large-9,
.body .column th.large-9 {
  width: 75%; }

td.large-10,
th.large-10 {
  width: 465.33333px;
  padding-left: 9px;
  padding-right: 9px; }

td.large-10.first,
th.large-10.first {
  padding-left: 18px; }

td.large-10.last,
th.large-10.last {
  padding-right: 18px; }

.collapse > tbody > tr > td.large-10,
.collapse > tbody > tr > th.large-10 {
  padding-right: 0;
  padding-left: 0;
  width: 483.33333px; }

.collapse td.large-10.first,
.collapse th.large-10.first,
.collapse td.large-10.last,
.collapse th.large-10.last {
  width: 492.33333px; }

td.large-10 center,
th.large-10 center {
  min-width: 429.33333px; }

.body .columns td.large-10,
.body .column td.large-10,
.body .columns th.large-10,
.body .column th.large-10 {
  width: 83.33333%; }

td.large-11,
th.large-11 {
  width: 513.66667px;
  padding-left: 9px;
  padding-right: 9px; }

td.large-11.first,
th.large-11.first {
  padding-left: 18px; }

td.large-11.last,
th.large-11.last {
  padding-right: 18px; }

.collapse > tbody > tr > td.large-11,
.collapse > tbody > tr > th.large-11 {
  padding-right: 0;
  padding-left: 0;
  width: 531.66667px; }

.collapse td.large-11.first,
.collapse th.large-11.first,
.collapse td.large-11.last,
.collapse th.large-11.last {
  width: 540.66667px; }

td.large-11 center,
th.large-11 center {
  min-width: 477.66667px; }

.body .columns td.large-11,
.body .column td.large-11,
.body .columns th.large-11,
.body .column th.large-11 {
  width: 91.66667%; }

td.large-12,
th.large-12 {
  width: 562px;
  padding-left: 9px;
  padding-right: 9px; }

td.large-12.first,
th.large-12.first {
  padding-left: 18px; }

td.large-12.last,
th.large-12.last {
  padding-right: 18px; }

.collapse > tbody > tr > td.large-12,
.collapse > tbody > tr > th.large-12 {
  padding-right: 0;
  padding-left: 0;
  width: 580px; }

.collapse td.large-12.first,
.collapse th.large-12.first,
.collapse td.large-12.last,
.collapse th.large-12.last {
  width: 589px; }

td.large-12 center,
th.large-12 center {
  min-width: 526px; }

.body .columns td.large-12,
.body .column td.large-12,
.body .columns th.large-12,
.body .column th.large-12 {
  width: 100%; }

td.large-offset-1,
td.large-offset-1.first,
td.large-offset-1.last,
th.large-offset-1,
th.large-offset-1.first,
th.large-offset-1.last {
  padding-left: 66.33333px; }

td.large-offset-2,
td.large-offset-2.first,
td.large-offset-2.last,
th.large-offset-2,
th.large-offset-2.first,
th.large-offset-2.last {
  padding-left: 114.66667px; }

td.large-offset-3,
td.large-offset-3.first,
td.large-offset-3.last,
th.large-offset-3,
th.large-offset-3.first,
th.large-offset-3.last {
  padding-left: 163px; }

td.large-offset-4,
td.large-offset-4.first,
td.large-offset-4.last,
th.large-offset-4,
th.large-offset-4.first,
th.large-offset-4.last {
  padding-left: 211.33333px; }

td.large-offset-5,
td.large-offset-5.first,
td.large-offset-5.last,
th.large-offset-5,
th.large-offset-5.first,
th.large-offset-5.last {
  padding-left: 259.66667px; }

td.large-offset-6,
td.large-offset-6.first,
td.large-offset-6.last,
th.large-offset-6,
th.large-offset-6.first,
th.large-offset-6.last {
  padding-left: 308px; }

td.large-offset-7,
td.large-offset-7.first,
td.large-offset-7.last,
th.large-offset-7,
th.large-offset-7.first,
th.large-offset-7.last {
  padding-left: 356.33333px; }

td.large-offset-8,
td.large-offset-8.first,
td.large-offset-8.last,
th.large-offset-8,
th.large-offset-8.first,
th.large-offset-8.last {
  padding-left: 404.66667px; }

td.large-offset-9,
td.large-offset-9.first,
td.large-offset-9.last,
th.large-offset-9,
th.large-offset-9.first,
th.large-offset-9.last {
  padding-left: 453px; }

td.large-offset-10,
td.large-offset-10.first,
td.large-offset-10.last,
th.large-offset-10,
th.large-offset-10.first,
th.large-offset-10.last {
  padding-left: 501.33333px; }

td.large-offset-11,
td.large-offset-11.first,
td.large-offset-11.last,
th.large-offset-11,
th.large-offset-11.first,
th.large-offset-11.last {
  padding-left: 549.66667px; }

td.expander,
th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important; }

table.container.radius {
  border-radius: 0;
  border-collapse: separate; }

.block-grid {
  width: 100%;
  max-width: 580px; }
  .block-grid td {
    display: inline-block;
    padding: 9px; }

.up-2 td {
  width: 272px !important; }

.up-3 td {
  width: 175px !important; }

.up-4 td {
  width: 127px !important; }

.up-5 td {
  width: 98px !important; }

.up-6 td {
  width: 78px !important; }

.up-7 td {
  width: 64px !important; }

.up-8 td {
  width: 54px !important; }

table.text-center,
th.text-center,
td.text-center,
h1.text-center,
h2.text-center,
h3.text-center,
h4.text-center,
h5.text-center,
h6.text-center,
p.text-center,
span.text-center {
  text-align: center; }

table.text-left,
th.text-left,
td.text-left,
h1.text-left,
h2.text-left,
h3.text-left,
h4.text-left,
h5.text-left,
h6.text-left,
p.text-left,
span.text-left {
  text-align: left; }

table.text-right,
th.text-right,
td.text-right,
h1.text-right,
h2.text-right,
h3.text-right,
h4.text-right,
h5.text-right,
h6.text-right,
p.text-right,
span.text-right {
  text-align: right; }

span.text-center {
  display: block;
  width: 100%;
  text-align: center; }

@media only screen and (max-width: 598px) {
  .small-float-center {
    margin: 0 auto !important;
    float: none !important;
    text-align: center !important; }
  .small-text-center {
    text-align: center !important; }
  .small-text-left {
    text-align: left !important; }
  .small-text-right {
    text-align: right !important; } }

img.float-left {
  float: left;
  text-align: left; }

img.float-right {
  float: right;
  text-align: right; }

img.float-center,
img.text-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

table.float-center,
td.float-center,
th.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

.hide-for-large {
  display: none !important;
  mso-hide: all;
  overflow: hidden;
  max-height: 0;
  font-size: 0;
  width: 0;
  line-height: 0; }
  @media only screen and (max-width: 598px) {
    .hide-for-large {
      display: block !important;
      width: auto !important;
      overflow: visible !important;
      max-height: none !important;
      font-size: inherit !important;
      line-height: inherit !important; } }

table.body table.container .hide-for-large * {
  mso-hide: all; }

@media only screen and (max-width: 598px) {
  table.body table.container .hide-for-large,
  table.body table.container .row.hide-for-large {
    display: table !important;
    width: 100% !important; } }

@media only screen and (max-width: 598px) {
  table.body table.container .callout-inner.hide-for-large {
    display: table-cell !important;
    width: 100% !important; } }

@media only screen and (max-width: 598px) {
  table.body table.container .show-for-large {
    display: none !important;
    width: 0;
    mso-hide: all;
    overflow: hidden; } }

body,
table.body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
th,
a {
  color: #101C2E;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 18px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  word-wrap: normal;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 18px;
  Margin-bottom: 18px; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 18px; }

body,
table.body,
p,
td,
th {
  font-size: 15px;
  line-height: 18px; }

p {
  margin-bottom: 18px;
  Margin-bottom: 18px; }
  p.lead {
    font-size: 20px;
    line-height: 24px; }
  p.subheader {
    margin-top: 6px;
    margin-bottom: 12px;
    Margin-top: 6px;
    Margin-bottom: 12px;
    font-weight: normal;
    line-height: 1.4;
    color: #8a8a8a; }

small {
  font-size: 80%;
  color: #123f88; }

a {
  color: #1c71ff;
  text-decoration: none; }
  a:hover {
    color: #0057e8; }
  a:active {
    color: #0057e8; }
  a:visited {
    color: #1c71ff; }

h1 a,
h1 a:visited,
h2 a,
h2 a:visited,
h3 a,
h3 a:visited,
h4 a,
h4 a:visited,
h5 a,
h5 a:visited,
h6 a,
h6 a:visited {
  color: #1c71ff; }

pre {
  background: #f3f3f3;
  margin: 30px 0;
  Margin: 30px 0; }
  pre code {
    color: #cacaca; }
    pre code span.callout {
      color: #8a8a8a;
      font-weight: bold; }
    pre code span.callout-strong {
      color: #ff6908;
      font-weight: bold; }

table.hr {
  width: 100%; }
  table.hr th {
    height: 0;
    max-width: 580px;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #1c71ff;
    border-left: 0;
    margin: 24px auto;
    Margin: 24px auto;
    clear: both; }

.stat {
  font-size: 40px;
  line-height: 1; }
  p + .stat {
    margin-top: -16px;
    Margin-top: -16px; }

span.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all !important;
  font-size: 1px;
  color: #f7fafe;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

table.button {
  width: auto;
  margin: 0 0 18px 0;
  Margin: 0 0 18px 0; }
  table.button table td {
    text-align: left;
    color: #1c71ff;
    background: white;
    border: 1.5px solid #1c71ff; }
    table.button table td a {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
      color: #1c71ff;
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px 8px 16px;
      border: 0 solid white;
      border-radius: 1px; }
  table.button.radius table td {
    border-radius: 1px;
    border: none; }
  table.button.rounded table td {
    border-radius: 500px;
    border: none; }

table.button:hover table tr td a,
table.button:active table tr td a,
table.button table tr td a:visited,
table.button.tiny:hover table tr td a,
table.button.tiny:active table tr td a,
table.button.tiny table tr td a:visited,
table.button.small:hover table tr td a,
table.button.small:active table tr td a,
table.button.small table tr td a:visited,
table.button.large:hover table tr td a,
table.button.large:active table tr td a,
table.button.large table tr td a:visited {
  color: #1c71ff; }

table.button.tiny table td,
table.button.tiny table a {
  padding: 4px 8px 4px 8px; }

table.button.tiny table a {
  font-size: 10px;
  font-weight: normal; }

table.button.small table td,
table.button.small table a {
  padding: 5px 10px 5px 10px;
  font-size: 12px; }

table.button.large table a {
  padding: 10px 20px 10px 20px;
  font-size: 20px; }

table.button.expand,
table.button.expanded {
  width: 100% !important; }
  table.button.expand table,
  table.button.expanded table {
    width: 100%; }
    table.button.expand table a,
    table.button.expanded table a {
      text-align: center;
      width: 100%;
      padding-left: 0;
      padding-right: 0; }
  table.button.expand center,
  table.button.expanded center {
    min-width: 0; }

table.button:hover table td,
table.button:visited table td,
table.button:active table td {
  background: #e6e6e6;
  color: #1c71ff; }

table.button:hover table a,
table.button:visited table a,
table.button:active table a {
  border: 0 solid #e6e6e6; }

table.button.secondary table td {
  background: #90b4f0;
  color: #1c71ff;
  border: 0px solid #90b4f0; }

table.button.secondary table a {
  color: #1c71ff;
  border: 0 solid #90b4f0; }

table.button.secondary:hover table td {
  background: #bdd2f6;
  color: #1c71ff; }

table.button.secondary:hover table a {
  border: 0 solid #bdd2f6; }

table.button.secondary:hover table td a {
  color: #1c71ff; }

table.button.secondary:active table td a {
  color: #1c71ff; }

table.button.secondary table td a:visited {
  color: #1c71ff; }

table.button.success table td {
  background: #95CC02;
  border: 0px solid #95CC02; }

table.button.success table a {
  border: 0 solid #95CC02; }

table.button.success:hover table td {
  background: #709902; }

table.button.success:hover table a {
  border: 0 solid #709902; }

table.button.alert table td {
  background: #ffb95b;
  border: 0px solid #ffb95b; }

table.button.alert table a {
  border: 0 solid #ffb95b; }

table.button.alert:hover table td {
  background: #ffa328; }

table.button.alert:hover table a {
  border: 0 solid #ffa328; }

table.button.warning table td {
  background: #cc5702;
  border: 0px solid #cc5702; }

table.button.warning table a {
  border: 0px solid #cc5702; }

table.button.warning:hover table td {
  background: #994102; }

table.button.warning:hover table a {
  border: 0px solid #994102; }

table.callout {
  margin-bottom: 18px;
  Margin-bottom: 18px; }

th.callout-inner {
  width: 100%;
  border: 1px solid #cccccc;
  padding: 10px;
  background: white; }
  th.callout-inner.primary {
    background: #ddeaff;
    border: 1px solid #3677e4;
    color: #0a0a0a; }
  th.callout-inner.secondary {
    background: #eef4fd;
    border: 1px solid #3677e4;
    color: #0a0a0a; }
  th.callout-inner.success {
    background: #f2ffd2;
    border: 1px solid #4b6701;
    color: #fefefe; }
  th.callout-inner.warning {
    background: #ffe5d2;
    border: 1px solid #672c01;
    color: #fefefe; }
  th.callout-inner.alert {
    background: #fff5e6;
    border: 1px solid #f48c00;
    color: #fefefe; }

.thumbnail {
  border: solid 4px white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  line-height: 0;
  max-width: 100%;
  transition: box-shadow 200ms ease-out;
  border-radius: 1px;
  margin-bottom: 18px; }
  .thumbnail:hover, .thumbnail:focus {
    box-shadow: 0 0 6px 1px rgba(28, 113, 255, 0.5); }

table.menu {
  width: 580px; }
  table.menu td.menu-item,
  table.menu th.menu-item {
    padding: 10px;
    padding-right: 10px; }
    table.menu td.menu-item a,
    table.menu th.menu-item a {
      color: #1c71ff; }

table.menu.vertical td.menu-item,
table.menu.vertical th.menu-item {
  padding: 10px;
  padding-right: 0;
  display: block; }
  table.menu.vertical td.menu-item a,
  table.menu.vertical th.menu-item a {
    width: 100%; }

table.menu.vertical td.menu-item table.menu.vertical td.menu-item,
table.menu.vertical td.menu-item table.menu.vertical th.menu-item,
table.menu.vertical th.menu-item table.menu.vertical td.menu-item,
table.menu.vertical th.menu-item table.menu.vertical th.menu-item {
  padding-left: 10px; }

table.menu.text-center a {
  text-align: center; }

.menu[align="center"] {
  width: auto !important; }

body.outlook p {
  display: inline !important; }

@media only screen and (max-width: 598px) {
  table.body img {
    width: auto;
    height: auto; }
  table.body center {
    min-width: 0 !important; }
  table.body .container {
    width: 95% !important; }
  table.body .columns,
  table.body .column {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 18px !important;
    padding-right: 18px !important; }
    table.body .columns .column,
    table.body .columns .columns,
    table.body .column .column,
    table.body .column .columns {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  table.body .collapse .columns,
  table.body .collapse .column {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  td.small-1,
  th.small-1 {
    display: inline-block !important;
    width: 8.33333% !important; }
  td.small-2,
  th.small-2 {
    display: inline-block !important;
    width: 16.66667% !important; }
  td.small-3,
  th.small-3 {
    display: inline-block !important;
    width: 25% !important; }
  td.small-4,
  th.small-4 {
    display: inline-block !important;
    width: 33.33333% !important; }
  td.small-5,
  th.small-5 {
    display: inline-block !important;
    width: 41.66667% !important; }
  td.small-6,
  th.small-6 {
    display: inline-block !important;
    width: 50% !important; }
  td.small-7,
  th.small-7 {
    display: inline-block !important;
    width: 58.33333% !important; }
  td.small-8,
  th.small-8 {
    display: inline-block !important;
    width: 66.66667% !important; }
  td.small-9,
  th.small-9 {
    display: inline-block !important;
    width: 75% !important; }
  td.small-10,
  th.small-10 {
    display: inline-block !important;
    width: 83.33333% !important; }
  td.small-11,
  th.small-11 {
    display: inline-block !important;
    width: 91.66667% !important; }
  td.small-12,
  th.small-12 {
    display: inline-block !important;
    width: 100% !important; }
  .columns td.small-12,
  .column td.small-12,
  .columns th.small-12,
  .column th.small-12 {
    display: block !important;
    width: 100% !important; }
  table.body td.small-offset-1,
  table.body th.small-offset-1 {
    margin-left: 8.33333% !important;
    Margin-left: 8.33333% !important; }
  table.body td.small-offset-2,
  table.body th.small-offset-2 {
    margin-left: 16.66667% !important;
    Margin-left: 16.66667% !important; }
  table.body td.small-offset-3,
  table.body th.small-offset-3 {
    margin-left: 25% !important;
    Margin-left: 25% !important; }
  table.body td.small-offset-4,
  table.body th.small-offset-4 {
    margin-left: 33.33333% !important;
    Margin-left: 33.33333% !important; }
  table.body td.small-offset-5,
  table.body th.small-offset-5 {
    margin-left: 41.66667% !important;
    Margin-left: 41.66667% !important; }
  table.body td.small-offset-6,
  table.body th.small-offset-6 {
    margin-left: 50% !important;
    Margin-left: 50% !important; }
  table.body td.small-offset-7,
  table.body th.small-offset-7 {
    margin-left: 58.33333% !important;
    Margin-left: 58.33333% !important; }
  table.body td.small-offset-8,
  table.body th.small-offset-8 {
    margin-left: 66.66667% !important;
    Margin-left: 66.66667% !important; }
  table.body td.small-offset-9,
  table.body th.small-offset-9 {
    margin-left: 75% !important;
    Margin-left: 75% !important; }
  table.body td.small-offset-10,
  table.body th.small-offset-10 {
    margin-left: 83.33333% !important;
    Margin-left: 83.33333% !important; }
  table.body td.small-offset-11,
  table.body th.small-offset-11 {
    margin-left: 91.66667% !important;
    Margin-left: 91.66667% !important; }
  table.body table.columns td.expander,
  table.body table.columns th.expander {
    display: none !important; }
  table.body .right-text-pad,
  table.body .text-pad-right {
    padding-left: 18px !important; }
  table.body .left-text-pad,
  table.body .text-pad-left {
    padding-right: 18px !important; }
  table.menu {
    width: 100% !important; }
    table.menu td,
    table.menu th {
      width: auto !important;
      display: inline-block !important; }
    table.menu.vertical td,
    table.menu.vertical th, table.menu.small-vertical td,
    table.menu.small-vertical th {
      display: block !important; }
  table.menu[align="center"] {
    width: auto !important; }
  table.button.small-expand,
  table.button.small-expanded {
    width: 100% !important; }
    table.button.small-expand table,
    table.button.small-expanded table {
      width: 100%; }
      table.button.small-expand table a,
      table.button.small-expanded table a {
        text-align: center !important;
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important; }
    table.button.small-expand center,
    table.button.small-expanded center {
      min-width: 0; } }

* {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

h1 {
  font-size: 34px;
  line-height: 42px; }

h2 {
  font-size: 30px;
  line-height: 36px; }

h3 {
  font-size: 28px;
  line-height: 36px; }

h4 {
  font-size: 24px;
  line-height: 30px; }

h5 {
  font-size: 20px;
  line-height: 24px; }

h6 {
  font-size: 18px;
  line-height: 24px; }

hr {
  border-top: none;
  border-bottom: 2px solid #1c71ff; }

p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0 5px; }

a {
  -moz-transition: color 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  border-bottom: 1px dotted #ffb95b;
  text-decoration: none;
  color: #123f88;
  font-weight: 600; }

table.button table tr td a,
table.button.light table tr td a {
  border: none; }

table.button table td {
  border: 1.5px solid #1c71ff;
  background-color: white;
  color: #1c71ff;
  text-align: left; }
  table.button table td a {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    padding: 3px 7px;
    border-bottom: none; }

table.button.light table td {
  border: 1.5px solid #90b4f0;
  background-color: white;
  color: #90b4f0;
  text-align: left; }
  table.button.light table td a {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    padding: 3px 7px;
    color: #90b4f0;
    border-bottom: none; }

ul {
  list-style: none; }
  ul li {
    display: block;
    margin-bottom: 6px; }

em {
  font-size: 18px;
  line-height: 24px;
  color: #1c71ff;
  text-decoration: none; }

.mandatories {
  font-size: 13px;
  line-height: 18px; }

.big-number {
  line-height: 36px;
  font-size: 36px;
  color: #1c71ff; }

.subtitle {
  font-weight: lighter;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 0; }

.dotgrid-bg, .newsletter-section-head {
  background-image: url(https://282843b4b9ff81fb41ad-f2697da3b0effb3e234651a3b2ae77b1.ssl.cf5.rackcdn.com/valence_icons/lightblue_dot.png); }

.newsletter-section-head {
  padding: 12px 5px;
  font-size: 24px;
  color: #123f88;
  line-height: 30px; }
  @media only screen and (max-width: 598px) {
    .newsletter-section-head {
      font-size: 18px; } }

.block-bg {
  background-color: white;
  display: inline; }

.newsletter-p {
  padding: 0 26px; }

.newsletter-referrals__item {
  margin-bottom: 12px;
  padding: 0 18px; }

.newsletter-referrals__referral-name {
  color: #1c71ff;
  font-size: 18px;
  line-height: 18px; }

.newsletter-referrals__referred-for {
  color: #101C2E;
  font-size: 14px;
  line-height: 24px; }

.newsletter-referrals__referral-bonus {
  color: #ffb95b;
  font-size: 24px;
  line-height: 24px; }

.newsletter-referrals__button {
  display: inline-block; }

.newsletter-jobs__title {
  font-size: 18px;
  line-height: 24px;
  padding-left: 12px; }

.newsletter-jobs__location {
  font-size: 14px;
  line-height: 24px;
  padding-left: 12px; }

.newsletter-jobs__stat-label, .newsletter-jobs__stat-label--left {
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #90b4f0; }
  .newsletter-jobs__stat-label--left {
    text-align: left;
    padding-left: 5px; }

.newsletter-jobs__stat {
  text-align: center;
  font-size: 18px;
  line-height: 12px;
  color: #1c71ff;
  vertical-align: middle;
  padding-bottom: 0; }

.newsletter-stats__item {
  font-size: 36px;
  line-height: 36px;
  color: #1c71ff;
  vertical-align: baseline;
  text-align: center; }

.newsletter-stats__label {
  font-size: 16px;
  line-height: 36px;
  vertical-align: baseline;
  text-align: center;
  color: #123f88; }

th.table-header {
  padding: 0; }

th.job-table__item {
  padding: 0; }

th.table-header table {
  border-bottom: 1px solid #1c71ff;
  padding: 0 0 0 0;
  text-align: left;
  color: #90b4f0; }

.sub-head {
  font-size: rem(14px);
  letter-spacing: rem(0.6px);
  border-bottom: 1px solid #90b4f0;
  color: #123f88; }

td.large-roffset-1,
td.large-roffset-1.first,
td.large-roffset-1.last,
th.large-roffset-1,
th.large-roffset-1.first,
th.large-roffset-1.last {
  padding-right: 66.33333px; }

td.large-roffset-2,
td.large-roffset-2.first,
td.large-roffset-2.last,
th.large-roffset-2,
th.large-roffset-2.first,
th.large-roffset-2.last {
  padding-right: 114.66667px; }

td.large-roffset-3,
td.large-roffset-3.first,
td.large-roffset-3.last,
th.large-roffset-3,
th.large-roffset-3.first,
th.large-roffset-3.last {
  padding-right: 163px; }

td.large-roffset-4,
td.large-roffset-4.first,
td.large-roffset-4.last,
th.large-roffset-4,
th.large-roffset-4.first,
th.large-roffset-4.last {
  padding-right: 211.33333px; }

td.large-roffset-5,
td.large-roffset-5.first,
td.large-roffset-5.last,
th.large-roffset-5,
th.large-roffset-5.first,
th.large-roffset-5.last {
  padding-right: 259.66667px; }

td.large-roffset-6,
td.large-roffset-6.first,
td.large-roffset-6.last,
th.large-roffset-6,
th.large-roffset-6.first,
th.large-roffset-6.last {
  padding-right: 308px; }

td.large-roffset-7,
td.large-roffset-7.first,
td.large-roffset-7.last,
th.large-roffset-7,
th.large-roffset-7.first,
th.large-roffset-7.last {
  padding-right: 356.33333px; }

td.large-roffset-8,
td.large-roffset-8.first,
td.large-roffset-8.last,
th.large-roffset-8,
th.large-roffset-8.first,
th.large-roffset-8.last {
  padding-right: 404.66667px; }

td.large-roffset-9,
td.large-roffset-9.first,
td.large-roffset-9.last,
th.large-roffset-9,
th.large-roffset-9.first,
th.large-roffset-9.last {
  padding-right: 453px; }

td.large-roffset-10,
td.large-roffset-10.first,
td.large-roffset-10.last,
th.large-roffset-10,
th.large-roffset-10.first,
th.large-roffset-10.last {
  padding-right: 501.33333px; }

td.large-roffset-11,
td.large-roffset-11.first,
td.large-roffset-11.last,
th.large-roffset-11,
th.large-roffset-11.first,
th.large-roffset-11.last {
  padding-right: 549.66667px; }

#logo-top {
  margin: 12px 0 6px 0; }
  @media only screen and (max-width: 598px) {
    #logo-top {
      height: 35%; } }
